a {
  background-color: pink;
  border-radius: 20px;
  font-size: 16px;
  margin: 10px;
  padding: 5px;
}

article {
  background-color: #FFC4DD;
  padding: 10px;
  width: 50%;
}

aside {
  float: right;
  width: 40%;
  background: #f1f1f1;
  padding: 20px 20px;
}

body {
  background-color: #827397;
  font-size: 20px;
  width: 60%;
  margin: auto;
}

figure {
  background-color: #FFA1A1;
  margin: 0;
}

footer {
  background-color: lightblue;
  padding: 10px;
}

h1 {
  font-size: 30px;
  margin-left: 50px;
}

h4 {
  font-size: 20px;
  border-bottom: solid 2px;
}

header {
  background-color: #E9D5DA;
  color: #370665;
  padding: 50px 150px 50px 50px;
}

img {
  height: auto;
}

nav {
  background-color: lightblue;
  padding: 10px;
}

ol {
  list-style-type: circle;
}

p {
  font-size: 18px;
  margin-left: 10px;
}

progress {
  margin-left: 20px;
  padding: 5px;
}

section {
  background-color: #f1f1f1;
  padding: 20px;
}

ul {
  list-style-type: square;
}

.box {
  background-color: #FFA1A1;
  border: 2px;
  border-style: dotted;
  padding: 10px;
  width: 200px;
}

.container {
  margin: 20px 150px;
  font-size: 18px;
}

.crochet {
  background-color: #FFBBBB;
  padding: 10px;
}

.lapaset {
  height: 150px;
  padding: 10px;
}

.omakuva {
  border-radius: 50%;
  height: 100px;
  float: right;
  padding-bottom: 2px;
  margin-right: 130px;
}

#pic {
  height: 150px;
}
