a {
  background-color: pink;
  border-radius: 30%;
}

body {
  background-color: #FFE4C0;
  margin: 50px;
}

h1 {
  border-bottom: solid 2px;
  font-size: 22px;
}
h4 {
  font-size:16px;
  border: dotted 1px;
}
img {
  height: auto;
}
p {
  background-color: #F0FFC2;
  border-radius: 20px;
  color: darkblue;
  font-size: 18px;
  padding: 20px;
}
progress {
  margin-left: 20px;
}
ol {
  list-style-type: lower-alpha;
}

ul {
  list-style-type: square;
}

.box {
  background-color: #D8D2CB;
  border: 2px;
  border-style: dotted;
  height: 200px;
  width: 200px;

}
.crochet {
  background-color: #FFBBBB;
  border-radius: 20px;
  padding: 20px;
  width: 500px;
}
